<!--Template inheritance (Jinja) -->

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="main">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <h2>StockFlow</h2>

        <div>
            <a href="/dashboard">Dashboard</a>
            <a href="/products">Products</a>
            <a href="/billing">Billing</a>
            <a href="/bills">Bills</a>
            <a href="/logout" class="logout">Logout</a>
        </div>
    
    </div>

    <!-- CONTENT -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

</div>

</body>
</html>