<!DOCTYPE html>
<html>
<head>
    <title>Bills</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div style="display:flex;">

    <!-- SIDEBAR -->
    <div style="width:220px; height:100vh; background:#021b36; color:white; padding:20px; display:flex; flex-direction:column; justify-content:space-between;">
        
        <!-- TOP MENU -->
        <div>
            <h2>StockFlow</h2>

            <p><a href="/dashboard" style="color:white; text-decoration:none;">Dashboard</a></p>
            <p><a href="/products" style="color:white; text-decoration:none;">Products</a></p>
            <p><a href="/billing" style="color:white; text-decoration:none;">Billing</a></p>
            <p><a href="/bills" style="color:white; text-decoration:none;">Bills</a></p>
            <p><a href="/logout" style="color:white; text-decoration:none;">logout</a></p>
        </div>

    </div>

<!-- MAIN CONTENT -->
<div style="flex:1; padding:20px;">

    <h2>All Bills</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Date</th>
    </tr>

    {% for b in bills %}
    <tr>
        <td>{{ b['id'] }}</td>
        <td>{{ b['name'] }}</td>
        <td>{{ b['quantity'] }}</td>
        <td>₹{{ b['total'] }}</td>
        <td>{{ b['date'] }}</td>
    </tr>
    {% endfor %}
</table>

</div>
</body>
</html>