{% extends "base.html" %}

{% block title %}Bills{% endblock %}

{% block content %}

<div class="card">
    <h2>All Bills</h2>
</div>

<div class="card">
    <table>
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Date</th>
        </tr>

        {% for b in bills %}
        <tr>
            <td>{{ b['id'] }}</td>
            <td>{{ b['name'] }}</td>
            <td>{{ b['quantity'] }}</td>
            <td>₹ {{ b['total'] }}</td>
            <td>{{ b['date'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}