{% extends "base.html" %}

{% block title %}Billing{% endblock %}

{% block content %}

<div class="card">
    <h2>Billing Page</h2>
</div>

<div class="card">
    <form method="POST">

        <label>Select Product:</label><br>
        <select name="product_id" style="width:100%; padding:8px;">
            {% for p in products %}
                <option value="{{ p['id'] }}">
                    {{ p['name'] }} - ₹{{ p['price'] }}
                </option>
            {% endfor %}
        </select>

        <br><br>

        <label>Quantity:</label><br>
        <input type="number" name="quantity" required style="width:100%; padding:8px;">

        <br><br>

        <button type="submit" class="btn btn-primary">Calculate</button>

    </form>
</div>

{% if total %}
<div class="card">
    <h3>Total Amount: ₹ {{ total }}</h3>
</div>
{% endif %}

{% endblock %}