<!DOCTYPE html>
<html>
<head>
    <title>StockFlow Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="navbar">
    <a href="/" style="color:white; text-decoration:none;">Dashboard</a> |
    <a href="/products" style="color:white; text-decoration:none;">Products</a>
</div>

    <div class="container">
        <div class="card">
            <h2>Welcome to StockFlow 🚀</h2>
            <p>Your smart retail management system starts here.</p>
        </div>

        <div class="card">
            <h3>Today's Sales</h3>
            <p>₹ 12,450</p>
        </div>
    </div>

</body>
</html>