<!DOCTYPE html>
<html>
<head>
    <title>StockFlow Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div style="display:flex;">

    <!-- SIDEBAR -->
    <div style="width:220px; height:100vh; background:#021b36; color:white; padding:20px; display:flex; flex-direction:column; justify-content:space-between;">
        
        <!-- TOP MENU -->
        <div>
            <h2>StockFlow</h2>

            <p><a href="/dashboard" style="color:white; text-decoration:none;">Dashboard</a></p>
            <p><a href="/products" style="color:white; text-decoration:none;">Products</a></p>
            <p><a href="/billing" style="color:white; text-decoration:none;">Billing</a></p>
            <p><a href="/bills" style="color:white; text-decoration:none;">Bills</a></p>
            <p><a href="/logout" style="color:white; text-decoration:none;">logout</a></p>
        </div>

    </div>

    <!-- MAIN CONTENT -->
    <div style="flex:1; padding:20px;">

        <div class="container">
            <div class="card">
                <h2>Welcome to StockFlow 🚀</h2>
                <p>Your smart retail management system starts here.</p>
            </div>

            <div class="card">
                <h3>Today's Sales</h3>
                <p>₹ 12,450</p>
            </div>
        </div>

    </div>

</div>

</body>
</html>