<!DOCTYPE html>
<html>
<head>
    <title>Invoice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>

    <div class="navbar">
    <a href="/" style="color:white; text-decoration:none;">Dashboard</a> |
    <a href="/products" style="color:white; text-decoration:none;">Products</a> |
    <a href="/billing" style="color:white; text-decoration:none;">Billing</a> |
     <a href="/bills" style="color:white; text-decoration:none;">Bills</a>
</div>

<h2>Invoice 🧾</h2>

<p><b>Bill ID:</b> {{ bill['id'] }}</p>
<p><b>Product:</b> {{ bill['name'] }}</p>
<p><b>Quantity:</b> {{ bill['quantity'] }}</p>
<p><b>Total:</b> ₹{{ bill['total'] }}</p>
<p><b>Date:</b> {{ bill['date'] }}</p>

<hr>

<button onclick="window.print()">Print Invoice</button>

<br><br>

<a href="/billing">
    <button>New Sale</button>
</a>

<a href="/dashboard">
    <button>Dashboard</button>
</a>

</body>
</html>