{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}

<div class="card">
    <h2>Products Page 📦</h2>
</div>

<div class="card topbar">
    <form method="GET" action="/products" style="width:70%;">
        <input type="text" name="search" class="search-box" placeholder="Search products by name...">
    </form>

    <button onclick="openModal()" class="btn btn-primary">
        + Add Product
    </button>
</div>

<div class="card">
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Action</th>
        </tr>

        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>₹ {{ product.price }}</td>

            <td>
                {% if product.quantity == 0 %}
                    <span style="color:red; font-weight:bold;">
                        {{ product.quantity }} (Out of Stock)
                    </span>

                {% elif product.quantity <= 5 %}
                    <span style="color:orange; font-weight:bold;">
                        {{ product.quantity }} (Low)
                    </span>

                {% else %}
                    <span style="color:green;">
                        {{ product.quantity }}
                    </span>
                {% endif %}
            </td>
            
            <td>
                <a href="/edit_product/{{ product.id }}">
                    <button class="btn btn-edit">Edit</button>
                </a>

                <form method="POST" action="/delete_product/{{ product.id }}" style="display:inline;">
                    <button type="submit" class="btn btn-delete">Delete</button>
                </form>

                 <button onclick="openRestockModal({{ product.id }}, '{{ product.name }}')" class="btn btn-restock">
                    Restock
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

<!--  RESTOCK MODAL -->
<div id="restockModal" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5);">

    <div style="background:white; width:400px; margin:100px auto; padding:20px; border-radius:10px;">
        
        <h3>Restock Product</h3>

        <form method="POST" action="/restock">

            <input type="hidden" name="product_id" id="restockProductId">

            <p id="productName"></p>

            <input type="number" name="quantity" placeholder="Add Quantity" required>

            <br><br>

            <button type="submit">Update Stock</button>
            <button type="button" onclick="closeRestockModal()">Cancel</button>

        </form>

    </div>
</div>

<!--  JS -->
<script>
function openRestockModal(id, name) {
    document.getElementById("restockModal").style.display = "block";
    document.getElementById("restockProductId").value = id;
    document.getElementById("productName").innerText = "Product: " + name;
}

function closeRestockModal() {
    document.getElementById("restockModal").style.display = "none";
}
</script>