<!DOCTYPE html>
<html>
    <head>
        <title>Products - StockFlow</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>

        <div class="navbar">
    <a href="/" style="color:white; text-decoration:none;">Dashboard</a> |
    <a href="/products" style="color:white; text-decoration:none;">Products</a> |
    <a href="/billing" style="color:white; text-decoration:none;">Billing</a> |
     <a href="/bills" style="color:white; text-decoration:none;">Bills</a>
</div>

        <div class="container">

    <!-- Heading Card -->
    <div class="card">
        <h2>Products Page 📦</h2>
    </div>

    <!-- 🔍 SEARCH FORM GOES HERE -->
 <div class="card" style="display:flex; justify-content:space-between; align-items:center;">
    
    <form method="GET" action="/products">
        <input type="text" name="search" placeholder="Search product name">
        <button type="submit">Search</button>
    </form>

    <button onclick="openModal()">+ Add Product</button>

</div>

 <!-- Products Table -->
    <div class="card">
        <table border="1" width="100%" cellpadding="10">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Action</th>
            </tr>

            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>₹ {{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <a href="/edit_product/{{ product.id }}">Edit</a>

                    <form method="POST" action="/delete_product/{{ product.id }}" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>

</div>

</body>
</html>