{% extends "base.html" %}

{% block title %}Purchase History{% endblock %}

{% block content %}

<div class="card">
    <h2>Purchase History 📊</h2>
</div>

<div class="card">
    <table>
        <tr>
            <th>ID</th>
            <th>Supplier</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Date</th>
        </tr>

        {% for p in purchases %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.supplier }}</td>
            <td>{{ p.product }}</td>
            <td>{{ p.quantity }}</td>
            <td>₹ {{ p.cost }}</td>
            <td>{{ p.date }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}